<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <div th:if="${message}" class="alert alert-primary" role="alert">
            <span th:text="'Message: ' + ${message}"></span>
        </div>
        <a class="float-right"  th:href="@{'/edit'}"><button type="button" class="btn btn-primary">+ Add</button></a>
        <h1>Books</h1>
        <ul class="list-group">
            <li class="list-group-item" th:each="b : ${list}"><a th:href="@{'/edit?id=' + ${b.id}}"><span th:text="${b.title}"/></a> <a class="float-right" th:href="@{'/remove/'+${b.id}}"><button type="button" class="btn btn-sm btn-danger">x</button></a></li>
        </ul>
    </div>
</body>
</html>